@import "../../styles/variables";

.container {
	background-color: $light-mode-bgcolor-secondary;
	height: 80vh;
	width: 25vw;
	border-radius: 25px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	// justify-content: center;
}

.weather_info_box {
	display: flex;
	flex-flow: column wrap;
	justify-self: center;
}

.current_weather_city{
	color: $light-mode-text-color-medium-emphasis;
	font-size: 2em;
	text-align: center;
	font-weight: $medium;
}
