@import "../../styles/variables";

.container {
	background-color: $light-mode-bgcolor-secondary;
	height: 80vh;
	width: 25vw;
	border-radius: 25px;
	display: flex;
	flex-flow: column wrap;
}

.weather_info_box {
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
}

.current_weather_city {
	color: $light-mode-text-color-medium-emphasis;
	font-size: 2.5em;
	text-align: center;
	font-weight: $medium;
	line-height: 1.5em;
}

.current_city_weather {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	color: $light-mode-text-color-high-emphasis;

	& .current_weather_icon {
		margin-right: 20px;

		& .sun_icon {
			color: $light-mode-text-color-high-emphasis;
			font-size: 3.5em;
		}
	}

	& .current_weather_temperature {
		font-size: 7em;
		font-weight: $bold;
	}
}

.current_weather_conditions {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	color: $light-mode-text-color-high-emphasis;
	border-bottom: 1px solid $light-mode-text-color-low-emphasis;

	& .current_weather_condition,
	.current_weather_sensation {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		width: 50%;

		& .condition_icon {
			width: auto;
			height: 50px;
			filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
		}

		& .sensation_icon {
			width: 50px;
			font-size: 1.5em;
		}
	}
}

.current_weather_extras {
	display: flex;
	flex-flow: column wrap;
	width: 80%;
	margin: 0 auto;

	& li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style-type: none;
		font-size: 1.5em;
		font-weight: $normal;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0px;
		}

		& .li_title {
			color: $light-mode-text-color-medium-emphasis;
		}

		& .li_content {
			display: flex;
			flex-flow: row wrap;
			align-items: center;

			color: $light-mode-text-color-high-emphasis;
		}
	}
}
