.container {
	background-color: #f9f9fa;
	border-radius: 25px;
	display: flex;
	flex-flow: column wrap;
	height: 80vh;
	width: 25vw;
}

body.dark-mode .container {
	background-color: #606e79;
}

.weather_info_box {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	justify-content: space-evenly;
}

.current_weather_city {
	color: #666d72;
	font-size: 2.5em;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
}

body.dark-mode .current_weather_city {
	color: #bfc5c9;
}

.current_city_weather {
	align-items: center;
	color: #3c4043;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

body.dark-mode .current_city_weather {
	color: #f9f9fa;
}

.current_city_weather .current_weather_icon {
	margin-right: 20px;
}

.current_city_weather .current_weather_icon .sun_icon {
	color: #3c4043;
	font-size: 3.5em;
}

body.dark-mode .current_city_weather .current_weather_icon .sun_icon {
	color: #f9f9fa;
}

.current_city_weather .current_weather_temperature {
	font-size: 7em;
	font-weight: 700;
}

.current_weather_conditions {
	border-bottom: 1px solid #828a91;
	color: #3c4043;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 80%;
}

body.dark-mode .current_weather_conditions {
	border-bottom: 1px solid #7f8b93;
	color: #f9f9fa;
}

.current_weather_conditions .current_weather_condition,
.current_weather_conditions .current_weather_sensation {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	width: 50%;
}

.current_weather_conditions .current_weather_condition .condition_icon,
.current_weather_conditions .current_weather_sensation .condition_icon {
	filter: drop-shadow(0 0 0 rgb(0 0 0 / 50%));
	height: 50px;
	width: auto;
}

body.dark-mode
	.current_weather_conditions
	.current_weather_condition
	.condition_icon,
body.dark-mode
	.current_weather_conditions
	.current_weather_sensation
	.condition_icon {
	filter: none;
}

.current_weather_conditions .current_weather_condition .sensation_icon,
.current_weather_conditions .current_weather_sensation .sensation_icon {
	font-size: 1.5em;
	width: 50px;
}

.current_weather_extras {
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	width: 80%;
}

.current_weather_extras li {
	align-items: center;
	display: flex;
	font-size: 1.5em;
	font-weight: 400;
	justify-content: space-between;
	list-style-type: none;
	margin-bottom: 25px;
}

.current_weather_extras li:last-child {
	margin-bottom: 0;
}

.current_weather_extras li .li_title {
	color: #666d72;
}

body.dark-mode .current_weather_extras li .li_title {
	color: #bfc5c9;
}

.current_weather_extras li .li_content {
	align-items: center;
	color: #3c4043;
	display: flex;
	flex-flow: row wrap;
}

body.dark-mode .current_weather_extras li .li_content {
	color: #f9f9fa;
}
