.hourly_weather_info_box {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
}
.hourly_weather_info_box .current_weather_city {
  font-size: 2em;
  border-bottom: 1px solid #828a91;
  width: 80%;
  margin: 0 auto;
}
body.dark-mode .hourly_weather_info_box .current_weather_city {
  border-bottom: 1px solid #7f8b93;
}

.forecast_weather {
  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
  margin: 0.5em 0;
}
body.dark-mode .forecast_weather {
  color: #f9f9fa;
}

.current_city_forecast_weather {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
}
body.dark-mode .current_city_forecast_weather {
  color: #f9f9fa;
}
.current_city_forecast_weather .forecast_weather_temperature {
  font-size: 1.5em;
}

.forecast_weather_conditions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
body.dark-mode .forecast_weather_conditions {
  color: #f9f9fa;
}
.forecast_weather_conditions .forecast_weather_condition {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.forecast_weather_conditions .forecast_weather_condition img {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}
body.dark-mode .forecast_weather_conditions .forecast_weather_condition img {
  filter: none;
}
.forecast_weather_conditions .forecast_weather_condition .current_weather_condition_desc {
  font-size: 1.5em;
}
.forecast_weather_conditions span {
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .hourly_weather_info_box {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .hourly_weather_info_box .current_weather_city {
    font-size: 2em;
    border-bottom: 1px solid #828a91;
    width: 80%;
    margin: 0 auto;
  }
  body.dark-mode .hourly_weather_info_box .current_weather_city {
    border-bottom: 1px solid #7f8b93;
  }
  .forecast_weather {
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    margin: 0.5em 0;
  }
  .current_city_forecast_weather {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
  }
  body.dark-mode .current_city_forecast_weather {
    color: #f9f9fa;
  }
  .current_city_forecast_weather .forecast_weather_temperature {
    font-size: 1.4em;
  }
  .forecast_weather_conditions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  body.dark-mode .forecast_weather_conditions {
    color: #f9f9fa;
  }
  .forecast_weather_conditions .forecast_weather_condition {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .forecast_weather_conditions .forecast_weather_condition img {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
    width: auto;
    height: 2.5em;
  }
  body.dark-mode .forecast_weather_conditions .forecast_weather_condition img {
    filter: none;
  }
  .forecast_weather_conditions .forecast_weather_condition .current_weather_condition_desc {
    font-size: 1em;
  }
  .forecast_weather_conditions span {
    font-size: 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1056px) {
  .hourly_weather_info_box {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .hourly_weather_info_box .current_weather_city {
    font-size: 2em;
    border-bottom: 1px solid #828a91;
    width: 80%;
    margin: 0 auto;
  }
  body.dark-mode .hourly_weather_info_box .current_weather_city {
    border-bottom: 1px solid #7f8b93;
  }
  .forecast_weather {
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    margin: 0.5em 0;
  }
  .current_city_forecast_weather {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
  }
  body.dark-mode .current_city_forecast_weather {
    color: #f9f9fa;
  }
  .current_city_forecast_weather .forecast_weather_temperature {
    font-size: 1.4em;
  }
  .forecast_weather_conditions .forecast_weather_condition img {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
    width: auto;
    height: 2.5em;
  }
  body.dark-mode .forecast_weather_conditions .forecast_weather_condition img {
    filter: none;
  }
  .forecast_weather_conditions .forecast_weather_condition .current_weather_condition_desc {
    font-size: 1.2em;
  }
  .forecast_weather_conditions span {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=hourlyForecastWeather.css.map */