// header
$light-mode-bgcolor-input: #f6fafd;
// global
$light-mode-bgcolor-primary: #7db9e7;
$light-mode-bgcolor-secondary: #f9f9fa;

$light-mode-bgcolor-warm: #ed9ea3;
$light-mode-bgcolor-cold: #f9f9fa;

$light-mode-text-color-high-emphasis: #3c4043;
$light-mode-text-color-high-emphasis2: #f9f9fa;
$light-mode-text-color-medium-emphasis: #666d72;
$light-mode-text-color-low-emphasis: #828a91;
$light-mode-text-color-link: #9bc9ed;
