@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: #7db9e7;
	transition: background-color 0.7s;
}

body.dark-mode {
	background: #374047;
}

a {
	color: #9bc9ed;
}

.warm {
	background: #ec9ea5;
}

.warm.dark-mode {
	background: #473737;
}

.cold {
	background: #cce4f5;
}

.cold.dark-mode {
	background: #394d5c;
}

.icon_warm {
	color: #ec9ea5;
}

.icon_cold {
	color: #7db9e7;
}

.main_container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	min-height: 85vh;
	width: 90%;
}

.main_container .start_result {
	background: url('../assets/img/season_change.svg') no-repeat;
	background-position: center;
	background-size: contain;
	height: 100%;
	width: 100%;
}

.main_container .section_container {
	background-color: #f9f9fa;
	border-radius: 25px;
	display: flex;
	flex-flow: column wrap;
	height: 80vh;
	justify-content: space-evenly;
	width: 50vw;
}

body.dark-mode .main_container .section_container {
	background-color: #606e79;
}

.main_container .section_container .loading {
	animation: loading 1s ease-in-out infinite;
	height: 25%;
	margin: 0 auto;
	width: 25%;
}

@media screen and (width <= 768px) {
	.main_container {
		display: flex;
		flex-flow: column wrap;
		gap: 2em;
	}

	.main_container .section_container {
		background-color: #f9f9fa;
		border-radius: 25px;
		display: flex;
		flex-flow: column wrap;
		height: 80vh;
		width: 90vw;
	}

	body.dark-mode .main_container .section_container {
		background-color: #606e79;
	}

	.main_container .section_container .loading {
		animation: loading 1s ease-in-out infinite;
		height: 25%;
		margin: 0 auto;
		width: 25%;
	}
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
