.footer_container {
	align-items: center;
	background-color: rgb(44 66 82 / 80%);
	color: #f9f9fa;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	min-height: 5vh;
}

body.dark-mode .footer_container {
	background-color: rgb(44 66 82 / 40%);
}

.footer_container p,
.footer_container span {
	font-size: 0.7em;
}

.footer_container span {
	font-weight: 200;
}
